HQ-EDGE-RTR# show running-config 
Building configuration...

Current configuration:
!
frr version 10.5.0_git
frr defaults traditional
hostname HQ-EDGE-RTR
!
ip prefix-list HQ-LAN-ONLY seq 10 permit 10.10.10.0/24
ip prefix-list REMOTE-HQ-LAN-ONLY seq 10 permit 10.20.20.0/24
!
interface eth1
 description HQ-LAN
 ip address 10.10.10.1/24
exit
!
interface eth8
 description ISP-A-CIRCUIT-TO-REMOTE-HQ
 ip address 172.16.1.1/30
exit
!
interface eth9
 description ISP-B-CIRCUIT-TO-REMOTE-HQ
 ip address 172.16.2.1/30
exit
!
router bgp 65010
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor 172.16.1.2 remote-as 65020
 neighbor 172.16.1.2 description REMOTE-EDGE-VIA-ISP1
 neighbor 172.16.1.2 bfd
 neighbor 172.16.1.2 timers 3 9
 neighbor 172.16.2.2 remote-as 65020
 neighbor 172.16.2.2 description REMOTE-EDGE-VIA-ISP2
 neighbor 172.16.2.2 bfd
 neighbor 172.16.2.2 timers 3 9
 !
 address-family ipv4 unicast
  network 10.10.10.0/24
  neighbor 172.16.1.2 activate
  neighbor 172.16.1.2 prefix-list REMOTE-HQ-LAN-ONLY in
  neighbor 172.16.1.2 prefix-list HQ-LAN-ONLY out
  neighbor 172.16.2.2 activate
  neighbor 172.16.2.2 prefix-list REMOTE-HQ-LAN-ONLY in
  neighbor 172.16.2.2 prefix-list HQ-LAN-ONLY out
  maximum-paths 2
 exit-address-family
exit
!
end